*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;

    justify-content: space-between;
    align-items: center;
    background-color: rgb(49, 47, 47);
}
.nav-text1{
    color: white;
   font-size: larger;
}
.nav-text2{
    color: white;
    font-size: larger;
}

.content{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maincontent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 180px;
    width:30%;
    border: 1px solid black;
}
.content-left{
    height: 80%;
    width:120px;
    background-color: rgb(223, 213, 213);
}

.foot{
    width: 100%;
    height: 100px;
    display: flex;
    font-size: larger;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 47, 47);
}